body {
    margin: 0;
    min-height: 100vh;
    background-color: blueviolet;
}

#taskName {
    border-radius: 12px;
    border: 1px solid blueviolet;
    padding: 0.2rem;
    padding-left: 0.5rem;
}


form {
    display: flex;
    flex-direction: column;
    background-color: black;
    padding: 3rem;
     border-radius: 6px;
}

.label {
    color: white;
    margin-bottom: 0.2rem;
}

button {
    background-color: green;
    color: white;
    margin-top: 1rem;
    border-radius: 6px;
    border: 1px solid green;
}

#backBtn {
    background-color: red;
    color: white;
}

